<%- include('./partials/header.ejs') %>
    <div class="container-l">
        <ul class="my-navbar">
            <li class="my-nav-item" id="arrow">
                <span>Menu</span>
                <i class="fa-solid fa-angles-down fa-2xl"></i>
            </li>
            <li class="my-nav-item">
                <a href="/">
                    <i class="fa-solid fa-house fa-2xl"></i>
                    <span href="/">Home</span>
                </a>
            </li>
            <li class="my-nav-item">
                <a href="#">
                    <i class="fa-solid fa-circle-info fa-2xl"></i>
                    <span>About</span>
                </a>
            </li>
            <li class="my-nav-item">
                <a href="#">
                    <i class="fa-solid fa-user-gear fa-2xl"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="my-nav-item">
                <a href="/logout">
                    <i class="fa-solid fa-arrow-right-from-bracket fa-2xl"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="container-r purple-text">
        <div class="main container">
            <div class="name">
                Welcome <%= userName %>
            </div>
            <div class="funds">
                You have <%= funds %>TND left to spend
            </div>
            <div class="time">
                <%= days %> Days left till the next month
            </div>
        </div>
        <div class="container-bottom">

            <div class="container-bottom-border"></div>

            <div class="adding-spendings flex-item container">
                <form action="/add-deposits" method="post">
                    <div class="adding-value">
                        <label for="add-funds" class="my-auto">Add Deposits:</label>
                        <div class="input-add-value">
                            <input type="number" name="deposit" placeholder="Insert a value" maxlength="9" required>
                            <span>TND</span>
                        </div>
                    </div>
                    <div class="category-select">
                        <h2>Select a Category:</h2>
                        <span class="category-list">
                            <% categories.forEach((category) => { %>
                                <div class="form-check mb-2" style="display:flex; align-items:center; justify-content:flex-start;">
                                    <input type="radio" name="categorySelect" class="form-check-input" value="<%= category.categoryName %>">
                                    <label for="categorySelect" class="form-check-label mx-2"> <%= category.categoryName %> </label>
                                </div>
                            <% }) %>
                        </span>
                            <div class="add-cat mt-2">
                                <input type="text" name="newCategory" placeholder="Add Category" id="add-cat" autocomplete="off"> 
                                <button class="btn btn-ourline-danger" id="add-cat-btn">+</button>
                            </div>
                        <button type="submit" class="btn btn-outline-danger mt-4">Save</button>
                    </div>
                </form>
                <form action="/" method="post" id="addCategory" style="display:none;">
                    <input type="hidden" name="newCategory" id="new-category" required>
                </form>
            </div>

            <div class="stats flex-item container">
                <h2>Overview:</h2>
                <div class="categories">
                    <ul class="list-group list-group-flush cat-list">
                        <span id="category-list-overview">
                            <% categories.forEach((category) => { %>
                            <li class="list-group-item" style="background:none;">
                                <%= category.categoryName %> : <%= category.CategoryDeposit %>TND
                            </li>
                            <% }) %>
                        </span>
                        <li class="list-group-item" style="background:none;" id="total">Total: <%= totalDeposits %>TND</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/index.js"></script>
    <script src="https://kit.fontawesome.com/e583c0fc69.js" crossorigin="anonymous"></script>
<%- include('./partials/footer.ejs') %>
